body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex; /*solution*/
  flex-direction: column;/*solution*/
}

.header,.footer{
  display: flex; /*solution*/
  height: 72px; /*solution*/
}

.header {
  background: darkmagenta;
  color: white;
  font-size: 32px; /*solution*/
  font-weight: 900; /*solution*/
}

.footer {
  background: #eee;
  color: darkmagenta;
  justify-content: center; /*solution*/
}

.sidebar {
  width: 300px;
  background: royalblue;
  display: flex;      /*solution*/
  flex-shrink: 0;/*solution*/
  padding: 16px;  /*solution*/
}


.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex-basis: 300px;/*solution*/
}
/*solution */

.sidebar ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
a{
  text-decoration: none;
  font-size: 24px;
}
.sidebar li{
  margin-bottom: 16px;
}

.content{
  display: flex;
  flex:1;
}
.cards{
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  padding: 32px;
} 
.text{
  align-self: center;
  padding: 16px;
}